$background-colour: #000f45;
$secondary-colour: #322f68;
$accent: #635d8c;
$primary-colour:#c194ff;

body{
    background-color: $background-colour;
    color: $primary-colour;
    margin: 0;
    padding: 0;
}

